@use '../abstracts/' as *;

.btn {
  border: none;
  cursor: pointer;

  &--primary {
    background-color: var(--clr-primary);
    padding: 1.5em 1.92em;
    border-radius: 2.21em;

    &:hover {
      background-color: var(--clr-primary-light);
    }
  }
}
