@use '../abstracts/' as *;

.btn {
  border: none;

  &--primary {
    height: rem(48);
    background-color: var(--clr-primary);
    border-radius: 2.21em;

    &:hover {
      background-color: var(--clr-primary-light);
    }
  }

  &--primary-inactive {
    background-color: transparent;
    color: inherit;

    &:hover {
      background-color: transparent;
    }
  }
}
