@use '../abstracts/' as *;

.btn {
  border: none;

  &--primary {
    height: rem(48);
    background-color: var(--clr-primary);
    border-radius: 2.21em;

    &:hover {
      background-color: var(--clr-primary-light);
    }
  }

  &--primary-inactive {
    background-color: transparent;
    color: inherit;

    &:hover {
      background-color: transparent;
    }
  }

  &--secondary {
    border-radius: 1000px;
    background-color: var(--clr-secondary-800);
    height: rem(40);
    width: rem(40);
    color: var(--clr-neutral-100);
    font-size: rem(15);
  }

  &--secondary-inactive {
    background-color: var(--clr-neutral-200);
    color: var(--clr-secondary-700);

    &:hover {
      outline: 1px solid var(--clr-neutral-200);
      outline-offset: 5px;
    }
  }
}
