.modal {
  position: fixed;
  inset: 0;

  background-color: var(--clr-secondary-900);

  z-index: 1;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
  }
}
