@use '../abstracts/' as *;

.modal-pomodoro {
  --padding: 24px;
  --btn-submit-height: 53px;

  @include breakpoint(medium) {
    --padding: 40px;
  }

  background-color: var(--clr-neutral-100);
  margin-inline: rem(24);

  border-radius: 15px;

  @include breakpoint(medium) {
    max-width: rem(540);
    margin-inline: auto;
  }

  &__sup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--clr-neutral-500);
    padding-inline: var(--padding);
    padding-block: var(--padding) calc(var(--padding) + 4px);

    @include breakpoint(medium) {
      padding-block: rem(34);
    }
  }

  &__close-btn {
    border: none;
    background-color: transparent;
    height: min-content;
  }

  &__inf {
    display: grid;

    padding: var(--padding) var(--padding) 0 var(--padding);
  }

  & .typo-choice,
  & .color-choice {
    display: flex;
    gap: 1rem;

    width: fit-content;

    margin-inline: auto;

    @include breakpoint(medium) {
      margin-inline: 0;
    }
  }

  &__submit {
    width: rem(140);
    height: var(--btn-submit-height);
    margin-inline: auto;
    transform: translateY(calc(var(--btn-submit-height) / 2));
  }

  & fieldset {
    display: flex;
    flex-direction: column;

    border: none;
    padding: 0;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    & > legend {
      text-align: center;
      margin-bottom: rem(18);
      float: left;

      @include breakpoint(medium) {
        align-self: flex-start;
      }
    }

    &:first-child {
      margin-bottom: var(--padding);

      @include breakpoint(medium) {
        flex-direction: column;
        margin-bottom: rem(24);
      }
    }

    &:nth-child(2) {
      padding-block: var(--padding);
      border-top: 1px solid var(--clr-neutral-500);
      @include breakpoint(medium) {
        padding-block: rem(24);
      }
    }

    &:nth-child(3) {
      padding-block: 1rem 0.6rem;
      border-top: 1px solid var(--clr-neutral-500);
    }
  }

  &__input-number-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}
