@use '../abstracts/' as *;

.pomodoro-choice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: rem(7);
  background-color: var(--clr-secondary-800);

  border-radius: rem(32);

  &__choice {
    width: 100%;
  }
}
