// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary-a: (
    300: hsl(0, 90%, 76%),
    400: hsl(0, 91%, 71%),
  ),
  primary-b: (
    300: hsl(182, 90%, 76%),
    400: hsl(182, 91%, 71%),
  ),
  primary-c: (
    300: hsl(284, 89%, 79%),
    400: hsl(284, 89%, 74%),
  ),
  secondary: (
    400: hsl(234, 35%, 58%),
    700: hsl(234, 35%, 18%),
    800: hsl(234, 39%, 14%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(229, 52%, 96%),
    400: hsl(227, 100%, 92%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }

  // Interface for default values for primary colors.
  --clr-primary: var(--clr-primary-a-400);
  --clr-primary-light: var(--clr-primary-a-300);
}
