@use '../abstracts/' as *;

.home {
  height: 100dvh;

  display: grid;
  justify-content: stretch;
  grid-template-rows: min-content auto;

  isolation: isolate;

  &__sup {
    display: grid;
    grid-template-rows: auto fit-content;
    gap: 45px;

    margin-top: 2rem;
    z-index: 1;

    @include breakpoint(medium) {
      margin-top: 7.8dvh;
      gap: 5.3dvh;
    }

    @include breakpoint(large) {
      margin-top: 6dvh;
      gap: 6.5dvh;
    }
  }

  &__title,
  &__settings,
  &__choices {
    justify-self: center;
  }

  &__down {
    display: grid;
    justify-items: center;
    align-content: space-evenly;

    z-index: 0;

    @include breakpoint(large) {
    }
  }

  &__settings {
    background-color: transparent;
    border: none;

    & path {
      transition: opacity 150ms;
    }
    &:hover {
      & path {
        opacity: 0.8;
      }
    }
  }
}

@keyframes rotate-element {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
